<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prodavnica</title>

    <link rel="stylesheet" type="text/css" href="../css/main.css" />

</head>

<body>
    <header>

    </header>
    <main>
        <h1>Artikli</h1>

        <% artikli.forEach(function(artikal) {%>
            <div>
                <h3><%= artikal.naziv %></h3>

                <table>
                    <tr>
                        <td>Cena</td>
                        <td>Br. artikala</td>
                        <td>ID</td>

                    </tr>
                    <tr>
                        <td><%= artikal.cena %></td>
                        <td><%= artikal.brArtikala %></td>
                        <td><%= artikal.id %></td>
                    </tr>
                </table>

            </div>
            <% }); %>
    </main>
</body>
</html>